<button class="margin-top-bottom button-padding" (click)="create()">Crear</button>
<table class="table">
  
    <!-- <thead>
      <tr>
        <th>Nombre</th>
        <th>Subject</th>
        <th>Description</th>
        <th>Date</th>
      </tr>
    </thead> -->
<tbody>
    <tr class="margin-top-bottom" *ngFor="let aRequest of requests">
      <td>{{ aRequest.name }}</td>
      <td>{{ aRequest.subject }}</td>
      <td>{{ aRequest.description }}</td>
      <td>{{ aRequest.date | date : "d/M/y" }}</td>
      <button class="margin-left "(click)="edit(aRequest.id)">Editar</button>
      <button class="margin-left "(click)="deleteRequest(aRequest.id)">Borrar</button>
    </tr>
  </tbody>
</table>
