td{
    background-color: rgba(40, 152, 238, 1);
    color: white;
}
button{
    background-color: rgba(20, 33, 87, 1);
    color: white;
}
.button-padding{
    padding: 1% 2%;
    margin-left: 1%;
}
.margin-left{
    
    margin-left: 10%;
}
.margin-top-bottom{
    margin-top: 5%;
    margin-bottom: 3%;
}
table{
    margin-left: 1%;
}
tr{
    margin-bottom: 10vh;
}
