<button (click)="create()">Crear</button>
<table class="table">
  
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Subject</th>
        <th>Description</th>
        <th>Date</th>
      </tr>
    </thead>
<tbody>
    <tr *ngFor="let aRequest of requests">
      <td>{{ aRequest.name }}</td>
      <td>{{ aRequest.subject }}</td>
      <td>{{ aRequest.description }}</td>
      <td>{{ aRequest.date | date : "d/M/y" }}</td>
      <button (click)="edit(aRequest.id)">Editar</button>
    </tr>
  </tbody>
</table>
