form{
    margin-left: 5%;
    margin-right: 5%;
}
.form-group{
    margin-bottom:1%;
}
.label-margin-bottom{
    margin-bottom:1%;
}
label{
    background-color: rgba(16, 122, 204, 1);
    padding: 1% 2%;
    font-size: 2em;
}
.field-date{
    background-color: rgba(111, 123, 172, 1);
}
.name-date{
    display: flex;
    justify-content: space-between;
}
.field-name{
    max-width: 25%;
}
.field-date{
    width:15%
}
.margin-input-left{
    margin-left: 5%;
    
}

.margin-label-left{
    margin-left: 20%;
}
.margin-top{
    margin-top: 3%;
}
.vertical{
    display: flex;
    flex-direction: column;
}
.label-size{
    max-width: 14em;
}
.right{
    right: 0;
}

.buttons{
    display:flex;
    justify-content: space-between;
}
.buttons-right{
    display:flex;
}

.create-button{
    margin-left: 5% ;
    
}
